* {
    box-sizing: border-box;   
}

h1 {
    text-align:center;
}

html {
    background-color: var(--light-brown);
    height: 100%;
}

body {
    background-color: var(--off-white);
    font-family: Arial;
    width: 60%;
    min-height: 100vh;
    margin: 0px auto;
    padding: 5px 20px;
    box-shadow: 0px 0px 20px black;
}

canvas {
    border: 1px solid #ccc;
    margin: 10px 0;
}

#mathBox {
    margin-top: 10px;
    padding: 10px;
    background: white;
    border-left: 4px solid var(--light-brown);
    font-family: monospace;
}

:root {
    --off-white: #FAF9F6;
    --red-phoenix: #fac4b3;
    --light-brown: #c3998c;
    --near-black: #302725;
}

.viz-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

canvas {
    display: block;
}